<IfModule mod_rewrite.c>
  AddType video/ogg .ogv AddType video/mp4 .mp4 AddType video/webm .webm
  RewriteEngine On RewriteBase / RewriteRule ^index\.html$ - [L] RewriteCond
  %{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME} !-d RewriteCond
  %{REQUEST_FILENAME} !-l RewriteRule . /index.html [L]
</IfModule>
